.containerPage {
  overflow: 'hidden';
  height: 100vh;
  display: flex;
}

.container1{
  display: flex;
  width: 20%;
  background-color: beige;
}

.container2{
  display: flex;
  width: 80%;
  background-color: #3F3D56;
}

.childrenContainer1{
  margin: 5%;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}