
/*Primera Sección */  

.containerSection1{
  background-color: #3F3D56;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  
}

.imgGraphics1, .imgGraphics2 {
  
}

.inputs{
  height: 10%;
}
/*Segunda Sección */  

.container{
  overflow: 'hidden';
  height: 100vh;
  display: flex;
  margin:0;
  padding:0;
}

.containerSection2{
  background-color: #F0F0F0;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.containerImg{
  top: 0;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.containerLogo{
  position: relative;
  width: 18rem;
  height: 18rem;
  padding-right: 10px;
  margin-bottom: 20px;
}
.containerLinks{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60ch;
}
.forgetPassword{
  margin-left: 18rem;
}

.txtWelcome{
  color: #3F3D56;
  font-size: 3.5rem;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
}
.logo{
  height: 100%;
  width: 100%;
  position: relative;
}
.imgFlower{
  height: auto;
  animation:  falling 5.5s linear infinite;
  opacity: 70%;
}
.imgFlower:nth-of-type(2){
  max-width: 20%;
  animation-delay: -1.2s;
}
.imgFlower:nth-of-type(4){
  max-width: 30%;
  animation-delay: -2.3s;
}
.imgFlower:nth-of-type(6){
  max-width: 10%;
  animation-delay: -4.4s;
}
.imgFlower:nth-of-type(8){
  max-width: 25%;
  animation-delay: -4.4s;
}

.imgStar{
  width: 3%;
  height: auto;
  animation: fallingStar 2s linear infinite;
}
.imgStar:nth-of-type(1){
  animation-delay: -0.1s;
}
.imgStar:nth-of-type(3){
  animation-delay: -1.5s;
}
.imgStar:nth-of-type(5){
  animation-delay: -2s;
}
.imgStar:nth-of-type(7){
  animation-delay: -3s;
}

.iconGoogle{
  padding-top: 5px;
  margin-left: 0;
}

/* ANIMATIONS */

@keyframes falling {
  0% {
      -webkit-transform:
          translateY(-300%)
          rotate(0deg);   
  }
  100% {
      -webkit-transform:
          translateY(100vh)
          rotate(100deg);
          opacity: 20%;
  }
}

@keyframes fallingStar {
  0% {
      -webkit-transform:
          translateY(-30vh)
          rotate(0deg);
  }
  
  100% {
      -webkit-transform:
          translateY(10vh)
          rotate(100deg);
          opacity: 0%;
  }
  
}




