*{
  margin:0;
  padding:0;
}

/*Primera Sección */  

.container-section1{
  background-color: #3F3D56;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  
}

.img-graphics1, .img-graphics2 {
  
}

/*Segunda Sección */  

.container{
  overflow: 'hidden';
  height: 100vh;
  display: flex;
  margin:0;
  padding:0;
}

.container-section2{
  background-color: #F0F0F0;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container-img{
  position: absolute;
}

.container-logo{
  position: relative;
  min-height: 100px;
  width: 35%;
  height: 35%;
  padding-right: 10px;
  margin-bottom: 20px;
}

.txtWelcome{
  color: #817979;
  font-size: 56px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
}

.logo{
  height: 100%;
  width: 100%;
}
.img-flower{
  max-width: 30%;
  height: auto;
  animation: girar-caer 7s linear infinite;
}

.img-star{
  animation: caida 5s linear infinite;
}
/*Animaciones */ 

@keyframes girar-caer {
  from {
    transform: translateY(-100%) rotate(0deg);
  }
  to {
    transform: translateY(100%) rotate(360deg);
  }
}

@keyframes caida {
  from {
    transform: translateY(-55vh);
  }
  to {
    transform: translateY(40vh);
  }
}





