
.container{
  overflow: 'hidden';
  height: 100vh;
  display: flex;
  margin:0;
  padding:0;
}

/*Primera Sección */  

.containerSection1{
  background-color: #3F3D56;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.imgCarousel1, .imgCarousel2, .imgCarousel3, .imgCarousel4 {
  width: 70%;
  opacity: 0.8;
}
.inputs{
  height: 10%;
}
/*Segunda Sección */  

.containerSection2{
  background-color: #F0F0F0;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.buttonsContainer{
  width: 100%;
  height: 20%;
  min-width: 70%;
}

.containerLogo{
  position: relative;
  width: 18rem;
  height: 18rem;
  padding-right: 10px;
  margin-bottom: 20px;
}
.containerLinks{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  min-Width: 50%;
}


.forgetPassword{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  

}
.formControl{
  margin-bottom: 1rem;
  width: 60ch;
}
.inputEmail{
  margin-bottom: 1rem; 
  width: 60ch; 
  margin-bottom: 30px; 
  height: 10%; 
}

.boxInput{
  width: 60ch;
}
.txtWelcome{
  color: #3F3D56;
  font-size: 3.5rem;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
}
.logo{
  height: 100%;
  width: 100%;
  position: relative;
}

.iconGoogle{
  padding-top: 5px;
  margin-left: 0;
}





