.containerImg{
    top: 0;
    height: 100%;
   
    position: absolute;
    overflow: hidden;
  }
.imgFlower{
  height: auto;
  animation:  falling 5.5s linear infinite;
  opacity: 70%;
}
.imgFlower:nth-of-type(2){
  max-width: 20%;
  animation-delay: -1.2s;
}
.imgFlower:nth-of-type(4){
  max-width: 30%;
  animation-delay: -2.3s;
}
.imgFlower:nth-of-type(6){
  max-width: 10%;
  animation-delay: -4.4s;
}
.imgFlower:nth-of-type(8){
  max-width: 25%;
  animation-delay: -4.4s;
}

.imgStar{
  width: 3%;
  height: auto;
  animation: fallingStar 2s linear infinite;
}
.imgStar:nth-of-type(1){
  animation-delay: -0.1s;
}
.imgStar:nth-of-type(3){
  animation-delay: -1.5s;
}
.imgStar:nth-of-type(5){
  animation-delay: -2s;
}
.imgStar:nth-of-type(7){
  animation-delay: -3s;
}

/* ANIMATIONS */

@keyframes falling {
  0% {
      -webkit-transform:
          translateY(-300%)
          rotate(0deg);   
  }
  100% {
      -webkit-transform:
          translateY(100vh)
          rotate(100deg);
          opacity: 20%;
  }
}

@keyframes fallingStar {
  0% {
      -webkit-transform:
          translateY(-30vh)
          rotate(0deg);
  }
  
  100% {
      -webkit-transform:
          translateY(10vh)
          rotate(100deg);
          opacity: 0%;
  }
  
}
