.container{
  align-items: center;
  text-align: center;
  width: 9%;
  height: 15%;
  background-image: url(../../../images/progressionCardColor.png), linear-gradient(to bottom, #896E9E, #5c597d);
  background-size: 170px;
  background-repeat: no-repeat;
  border-radius: 25px;
  padding-top: 10px;
}

.container2{
  align-items: center;
  text-align: center;
  width: 9%;
  height: 15%;
  background-image: url(../../../images/progressionCardColor2.png), linear-gradient(to bottom, #FEC48E, #CD9E72);
  background-size: 170px;
  background-repeat: no-repeat;
  border-radius: 25px;
  padding-top: 10px;
}

.text{
  margin-top: 10%;
  font-size: 1.3rem;
  color: white;
}

.number{
  margin-top: 14%;
  color: white;
}

.icon{
  color: #A5CCA4;
  position: absolute;
  margin-left: 55px;
  
}